header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    background-color: rgba(22, 132, 165, 0.459);
}
.registrarse{
    text-decoration: none;
    background-color: rgb(22, 132, 165);
    padding:0.8em;
    border-radius: 1em;
    margin: 0em 1em 0em 1em;
}
.registrarse:hover{
    background-color: rgba(16, 95, 119, 0.993);
    padding:0.8em;
    border-radius: 1em;
}
h2{
    font-size: 2em;
    margin: 0.5em;
}
.inicio{
    text-decoration: none;
}